[user]
	name = Ben Brackenbury
	email = benbrack22@icloud.com
[credential]
	helper = store
[init]
	defaultBranch = master
[status]
	branch = true
	showStash = true
[alias]
	graph = log --all --decorate --oneline --graph
	recent-branches = "!git for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:iso8601) %(refname:short)'"
	sttaus = status
[push]
	autoSetupRemote = true
	default = current
[pull]
	default = current
	rebase = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn

[diff]
	algorithm = histogram

[core]
	pager = less -F -S -R
	fileMode = false
	excludesfile = ~/.gitignore
	whitespace = fix,-indent-with-non-tab

[commit]
	template = ~/.gitmessage

[checkout]
	defaultRemote = origin

[include]
	path = ~/.gitconfig.local
