[submodule "omarchy/.config/omarchy/plugins/dutchbase.monitor-arrange"]
	path = omarchy/.config/omarchy/plugins/dutchbase.monitor-arrange
	url = https://github.com/dutchbase/omarchy-monitor-arrange.git
[submodule "omarchy/.config/omarchy/plugins/io.github.badr-emil.iphone-connect"]
	path = omarchy/.config/omarchy/plugins/io.github.badr-emil.iphone-connect
	url = https://github.com/Badr-Emil/omarchy-iphone-connect
[submodule "omarchy/.config/omarchy/plugins/io.github.crumble21.notch-bar"]
	path = omarchy/.config/omarchy/plugins/io.github.crumble21.notch-bar
	url = https://github.com/crumble21/omarchy-notch-bar.git
[submodule "omarchy/.config/omarchy/plugins/io.github.geoochi.mac-battctl"]
	path = omarchy/.config/omarchy/plugins/io.github.geoochi.mac-battctl
	url = https://github.com/geoochi/omarchy-mac-battctl.git
[submodule "omarchy/.config/omarchy/plugins/io.github.thisisgm.omapods"]
	path = omarchy/.config/omarchy/plugins/io.github.thisisgm.omapods
	url = https://github.com/thisisgm/omarchy-pods
[submodule "omarchy/.config/omarchy/plugins/netmojo.omdrop"]
	path = omarchy/.config/omarchy/plugins/netmojo.omdrop
	url = https://github.com/brentkearney/omdrop-plugin.git
[submodule "omarchy/.config/omarchy/plugins/omamail"]
	path = omarchy/.config/omarchy/plugins/omamail
	url = https://github.com/huacnlee/omamail.git
